body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 450em;
  display: block;
  justify-content: center;
  background-color: whitesmoke;
}

.navbar {
  background-color: hsl(0, 0%, 100%); /* Teal */
  padding: 20px 20px;
  position: sticky;
  padding: 0px;
  width: 95rem;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  z-index: 50;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3); 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  margin: auto;
}

.nav-left a,
.nav-right a {
  color: rgb(13, 31, 12);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 15px;
  padding: 8px 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-container a:hover {
  background-color: #80e4cb;
  color: #000000; 
  border-radius: 2rem;
}


#logo {
  margin: 0 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(13, 31, 12);
  font-style: oblique;
  flex-wrap: wrap;
}

.Hero {
  display: flex;
  flex-direction: row;
  padding: 4rem 2rem;
  background-color: #80e4cb;
  position: relative;
  overflow: hidden;
  height: 25rem;
  width: 90rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 4rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
}

.pic1 {
  width: 25rem;
  height: 25rem;
  margin-left: -2rem;
  margin-bottom: 0rem;
  margin-left: -6rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  text-align: center;
  background-color: #80e4cb;
  margin-top: 0px;
}

.pic2 {
  width: 35rem;
  height: 30rem;
  margin-top: -1rem;
  margin-right: -6rem;
}

.hero h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: #122e24;
  margin-top: 0px;
}

.hero p {
  margin-top: 0.02rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d1b1b;
  color: #122e24;
  justify-content: center;
}

.hero button {
  margin-top: 0.05rem;
  padding: 14px 120px;
  background-color: #12372a;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.25rem;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 40px;
}

.box1 {
  width: 45rem;
  height: 25rem;
  background-color: #ffffff;
  color: rgb(57, 66, 36);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 14px;
}

.box2 {
  width: 45rem;
  height: 25rem;
  background-color: #eafff3;
  color: rgb(57, 66, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 16px;
  border: solid white 2px;
  box-shadow: 5px 5px 10px rgba(170, 90, 43, 0.692); 

}

#intro {
  text-align: left;
  padding-left: 2rem;
  font-size: 1rem;
  color: #1d1b1b;
}

h3 {
  padding-left: 2rem;
  font-size: 2rem;
  margin: 4px;
  color: #1d1b1b;
}

.p2 {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.about button {
  margin-top: 1rem;
  padding: 1rem 4rem;
  background-color: #12372a;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.25rem;
  cursor: pointer;
  margin-left: 30px;
}

.Services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  overflow: hidden;
  height: 15rem;
  width: 90rem;
  border-radius: 30px;
  margin: auto;
}

#intro1 {
  text-align: center;
  font-size: 1rem;
  color: #1d1b1b;
}

.path {
  padding-left: 10px;
  text-align: center;
  margin-top: 4px;
  font-size: 2rem;
}

.p3 {
  font-size: 1.5rem;
  padding-left: 2rem;
  color: #1d1b1b;
}

.Container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
  color: #1d1b1b;
}

#box3 {
  width: 45rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 14px;
  border: solid white 2px;
}

#box3 button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  color: rgb(77, 45, 45);
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: #f3f0ec;
  margin-left: 30px;
  border: none;
}

#box4 {
  width: 45rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 12px;
  border: solid white 2px;
  box-shadow: 4px gray;
}

.Container h3 {
  margin-top: 2rem;
}

#box4 button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  color: rgb(77, 45, 45);
  border-radius: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #f3f0ec;
  margin-left: 30px;
  border: 1px solid black;
  border: none;
}

.More {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #dfddda;
  position: relative;
  overflow: hidden;
  height: 25rem;
  width: 90rem;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
}

.more {
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.more h3 {
  margin-left: -12em;
}

#more {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  max-width: 45rem;
}

#Learn {
  background-color: #003f3c;
  color: rgb(255, 255, 255);
  padding: 1rem 4rem;
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin-left: 2rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 43rem;
  margin-top: 4rem;
}

.pic3 {
  width: 40rem;
  height: 25rem;
  border-radius: 2rem;

}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

#testimonials {
  justify-content: center;
  margin-left: 2rem;
  margin-right: 1rem;
}

.box1A {
  width: 35rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  border-radius: 25px;
  border: solid white 2px;
}

.box1B {
  width: 28rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  border-radius: 25px;
  border: solid white 2px;
  justify-content: center;
}

.box1C {
  width: 28rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(58, 24, 24);
  align-items: center;
  border-radius: 25px;
  border: solid white 2px;
  justify-content: center;
}

.box1D {
  width: 28rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(58, 24, 24);
  align-items: center;
  border-radius: 25px;
  border: solid white 2px;
  justify-content: center;
  display: none;
}

.box1E {
  width: 28rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(58, 24, 24);
  align-items: center;
  border-radius: 25px;
  border: solid white 2px;
  justify-content: center;
  display: none;
}

.box1F {
  width: 28rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(58, 24, 24);
  align-items: center;
  border-radius: 25px;
  border: solid white 2px;
  justify-content: center;
  display: none;
}

.testimonials p {
  font-size: 1.5rem;
  padding-left: 2rem;
}

#testimonials {
  font-size: 1rem;
}

.testimonials h4 {
  margin-top: 10px;
  margin-left: 2rem;
  font-size: 2rem;
  margin-bottom: 0px;
}

.testimonials button {
  font-size: 2rem;
  background-color: #92aadd;
  color: rgb(12, 0, 0);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.partners {
  text-align: center;
}

.logo {
  padding: 3rem 2rem;
  background-color: #ffffff;
  overflow: hidden;
  height: 8rem;
  width: 90rem;
  border-radius: 4rem;
  margin: auto;
  margin-top: 16px;
  justify-content: center;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin: auto;
}

.Logo {
  width: 6rem;
  height: 6rem;
  flex-direction: row;
  border-radius: 1rem;
}

.explore {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}

#learn {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.learn {
  font-size: 1rem;
  align-items: center;
}

.explore h4 {
  margin-top: 2px;
  font-size: 25px;
}

.box2A {
  width: 30rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  border-radius: 25px;
  border: solid white 2px;
}

.box2B {
  width: 30rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  border-radius: 25px;
  border: solid white 2px;
}

.box2C {
  width: 30rem;
  height: 20rem;
  background-color: #dfddda;
  color: rgb(58, 24, 24);
  align-items: center;
  border-radius: 25px;
  border: solid white 2px;
}

.xmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.xmore h3 {
  margin-top: 1.5rem;
}

.xmore p {
  font-size: 1.5rem;
  padding-left: 2.25rem;
  text-align: left;
}

.box2A button {
  background-color: #dfe232;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 40px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.box2B button {
  background-color: #30dd3e;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 40px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.box2C button {
  background-color: #e26464;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 40px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.community {
  align-items: flex-start;
  background-color: #dfddda;
  position: relative;
  height: 25rem;
  width: 90rem;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
  padding: 2rem;
  flex-direction: row;
  display: flex;
  gap: 4rem;
}

.Community {
  display: block;
  text-align: left;
  max-width: 30rem;
}

.community p {
  font-size: 1rem;
  text-align: left;
  margin-top: 4px;
  margin-left: 1.5rem;
}

.community h3 {
  text-align: left;
  margin-left: -0.75rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

#Community {
  text-align: left;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.community button {
  color: white;
  background-color: #122e24;
  border: 1px;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-left: 1.5rem;
}

.pic4 {
  height: 25rem;
  width: 50rem;
  /* border: 1px solid black; */
  margin-left: 3rem;
  justify-content: center;
  border-radius: 2rem;
}

.help {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 40px;
}

.help1 {
  width: 45rem;
  height: 50rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  display: flex;
  font-size: 20px;
  border-radius: 16px;
  border: solid white 2px;
  flex-direction: column;
}

.help1 p {
  margin-top: 3rem;
  font-weight: 600;
}

.help1 h3 {
  font-size: 3rem;
}

#help1 {
  font-size: 1.5rem;
  margin-left: 2.5rem;
}

.pic5 {
  width: 40rem;
  height: 25rem;
  margin: auto;
  border-radius: 2rem;
}

.help2 {
  width: 45rem;
  height: 50rem;
  background-color: #dfddda;
  color: rgb(57, 66, 36);
  display: flex;
  font-size: 20px;
  border-radius: 16px;
  border: solid white 2px;
  flex-direction: column;
}

.helps1 {
  display: flex;
  text-align: center;
  width: 40rem;
  height: 5rem;
  background-color: white;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}



.helps {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 40rem;
  height: 5rem;
  background-color: white;
  margin: auto;
  margin-top: 2.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.question {
  margin-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.help2 button {
  margin-left: 4rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  background-color: white;
  color: #80e4cb;
}

.qa-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: Arial, sans-serif;
}

.answer {
  display: none;
  color: #1d1b1b;
  font-weight: 500;
  margin-left: 2rem;
  font-size: 1.5rem;
  color: #0a6568;
}

.contacts {
  height: 35rem;
  width: 90rem;
  background-color: #dfddda;
  margin: auto;
  margin-top: 4rem;
  border-radius: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.details {
  height: 36rem;
  width: 42rem;
  margin: auto;
  margin-left: 1.5rem;
}

.details p {
  font-size: 1.5rem;
  margin-left: 2rem;
  font-weight: 500;
}

.details h3 {
  font-size: 2rem;
  margin-left: 0.55rem;
  margin-top: 2rem;
}

.pic6 {
  width: 30rem;
  height: 8rem;
  margin-left: 1rem;
  border-radius: 2rem;
}

.details footer {
  font-size: 1.2rem;
  margin-left: 2rem;
  color: rgb(7, 6, 6);
  margin-bottom: 1px;
  margin-top: 6rem;
  align-items: self-start;
}

.message {
  width: 35rem;
  height: 25rem;
  border: 1px solid rgb(254, 254, 255);
  border-radius: 3rem;
  background-color: white;
  margin-top: 3rem;
  flex-direction: column;
}

label {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#text {
  width: 80%;
  border: none;
  border-bottom: 3px solid #003b3b;
  padding: 8px 0;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #003b3b;
  background: transparent;
  outline: none;
  margin-left: 2rem;
  margin-top: 1rem;
}

.message button {
  width: 80%;
  background-color: #003b3b;
  color: white;
  padding: 12px;
  font-size: 1.3rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 2rem;
}
button:hover {
  background-color: #0f1b1b;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.footer1 {
  width: 42rem;
  height: 40rem;
  border-radius: 2rem;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
  margin-top: 2rem;
}

.Footer1 div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
  margin-top: 2rem;
}

.footer1 a {
  line-height: 1.3rem;
  font-family: Arial, sans-serif;
  margin-inline: 1rem;
  text-decoration: none;
  color: #003b3b;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.copyright {
  position: absolute;
  bottom: 20px;
  font-size: 13px;
  color: rgb(139, 139, 139);
  font-weight: 600;
}

.footer2 {
  width: 45rem;
  height: 40rem;
  border-radius: 2rem;
  background-image: url("photo/Screenshot from 2025-05-28 16-42-39.png"); /* Replace with your image path */
  overflow: hidden;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  margin-left: 1rem;
}

.footer-right h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cta-content {
  max-width: 300px;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 27rem;
}

.cta-content h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  color: #000000;
}

.cta-button {
  background-color: white;
  color: #037a7a;
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 2rem;
}
